@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&display=swap");

.background {
    background-image: url("https://plus.unsplash.com/premium_photo-1661964071015-d97428970584?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aG90ZWx8ZW58MHx8MHx8fDA%3D");
    height: 100vh;
    background-size: cover;
    padding: 1px;
}

.card1 {
    background-color: #000000e6;
    height: 30vh;
    width: 70vw;
    margin-bottom: 20px;
    border-radius: 25px;
}

.heading {
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    padding: 20px 1px 1px 20px;
    font-size: 30px;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 1px 15px 1px 20px;
}

.button1 {
    background-color: #ffffff;
    margin-bottom: 50px;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    padding: 1px;
}
